.card-select-button {
  background-color: rgb(244, 237, 237) !important;
  color: black !important;
  border-radius: 2rem !important;
  width: 8rem !important;
  text-transform: none !important;
}

.card-select-button:hover {
  color: black !important;
  background-color: rgb(189, 180, 180) !important;
  border-radius: 2rem !important;
  width: 8rem !important;
  text-transform: none !important;
}


.card-selected-button  {
  background-color: rgb(0, 0, 0) !important;
  color: white !important;
  border-radius: 2rem !important;
  width: 8rem !important;
  text-transform: none !important;
}